* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.jumbotron jumbotron-fluid {
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}